@tailwind base;
@tailwind components;
@tailwind utilities;

.great-vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.sniglet {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
}
.transtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.techlogo {
    padding: 5px;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #dae2eb;
}
[x-cloak] {
    display: none;
}
textarea {
    field-sizing: content;
}