:root{
	--color1: #048998;
	--color2: #3bb4c1;
	--color3: #78b7bb;
	--color4: #e3e3e3;
	--color5: #f6f5f5;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: var(--color5);
}

.logo{
	font-family: 'Great Vibes', cursive;
	margin: 5px;
	color: var(--color4);
}
.alogo{
	text-decoration: none;
}
.two{
	color: var(--color5);
}
.menu{
	background-color: var(--color1);
	height: 10vh;
	padding: 7px;

}
.enlace{
	text-decoration: none;
	color: var(--color4);
}
.lista_menu{
	list-style: none;

}
.item_menu{
	display: flex;
	display: inline-block;
	margin: 10px 7px;
}
.item_menu:hover{
	text-decoration: none;
	transition: all;
	transition-duration: .3s;
	color: var(--color3);
}
.social_cont{
	text-align: center;
	margin-top: 5px;
}
.social{
	color: var(--color2);
	font-size: 1.7em;
	padding: 3px;
}
.img_personal{
	width: 225px;
	height: 225px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	border: 10px double var(--color3);
	transition: all;
	transition-duration: .4s;

}
.img_personal:hover{
	width: 235px;
	height: 235px;
}
.social:hover{
	color: var(--color5);
	transition: all;
	transition-duration: .3s;
}
.cont2{
	height: 80vh;
}
.techs{
	margin: 0 auto;
	display: block;
	text-align: center;
}
.servicesF{
	text-align: center;
	color: var(--color1);
	padding: 7px;
	font-size: 2em;
}
.beneficiosF > li{
	list-style: none;
}
.iconsF{
	color: var(--color2);
}





















































































































